<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Mmm_SpentSummary::spentsummary"
            title="Spent Summary"
            module="Mmm_SpentSummary"
            sortOrder="1"
            action="adminhtml/system_config/edit/section/mmm_spentsummary/"
            parent="Mmm_Core::menu"
            resource="Mmm_SpentSummary::setting" />
    </menu>
</config>