<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Mmm_ProductWidget::setting"
            title="Product Widget"
            module="Mmm_ProductWidget"
            sortOrder="1"
            action="adminhtml/system_config/edit/section/mmm_productwidget/"
            parent="Mmm_Core::menu"
            resource="Mmm_ProductWidget::setting" />
    </menu>
</config>