<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <mmm_infinitescroll>
            <settings>
                <enabled>1</enabled>
            </settings>
            <settings_behavior>
                <delay>600</delay>
                <content>.main</content>
                <pagination>.pages-items, .pager__list</pagination>
                <next>.next</next>
                <item>.product-item</item>
            </settings_behavior>
            <settings_frontend>
                <loading_image/>
                <loading_text><![CDATA[<em>Looking for more items...</em>]]></loading_text>
                <done_text><![CDATA[<em>All items were uploaded.</em>]]></done_text>
                <load_more>3</load_more>
                <load_more_text><![CDATA[<em>Load more items</em>]]></load_more_text>
            </settings_frontend>
        </mmm_infinitescroll>
    </default>
</config>
